@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=VT323');

* {
  padding: 0;
}

.box {
  height: 570px;
  width: 550px;
  margin-top: 10px;
  margin: auto;
  background: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 25px;
}

.screen {
  height: 250px;
  background: rgb(236, 236, 236);
  margin-bottom: 30px;
  border-radius: 10px;
  font-family: 'VT323', monospace;
  padding: 10px;
  font-size: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 530px;
  overflow: hidden;
}

.body {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.box1 {
  width: 60%;
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.store, .a, .b, .c, .d, .e, .roten, .clear, .seven, .eight, .nine, .divide, .elevated, .four, .five, .six, .multi, .parantes, .one, .two, .three {
  width: 45px;
  height: 45px;
  margin: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.timerstart, .timerstop {
  width: 45px;
  height: 45px;
  margin: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-align: center;
}

.minus, .parantestwo, .equal, .zero, .dot, .plus, .undo {
  width: 45px;
  height: 45px;
  margin: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.blank {
  background-color: transparent;
  border: none;
}

.left, .right, .up, .down {
  width: 45px;
  height: 45px;
  margin: 8px;
  font-size: 13px;
}

.box2 {
  width: 45%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timertext {
  text-align: center;
}

.piltangenter {
  width: 100%;
  height: 122px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.left, .right, .down {
  align-self: flex-end;
}

.arrayIndex {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  max-height: 200px;
  width: max-content;
  border: 1px solid black;
  overflow: scroll;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrayIndex p, .arrayIndex ol {
  margin: 5px 10px;
  list-style: decimal inside;
}
